apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: {{ rolearn }}
      {% raw -%}
      username: system:node:{{EC2PrivateDNSName}}
      {%- endraw %}
      groups:
        - system:bootstrappers
        - system:nodes
