apiVersion: v1
clusters:
- cluster:
    server: {{ eks_cluster_api_endpoint }}
    certificate-authority-data: {{ eks_cluster_ca }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: aws
current-context: aws
kind: Config
preferences: {}
users:
- name: aws
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: heptio-authenticator-aws
      args:
        - "token"
        - "-i"
        - "{{ eks_cluster_name }}"
        #- "-r"
        #- "{{ eks_cluster_arn }}"
      env:
        - name: AWS_PROFILE
          value: "{{ aws_profile }}"
